body {
	margin:0;padding:0;
	color:#333;
	text-align:center;
	font-family:'ApollineRegular';
	font-size:1.1em;

	background-color:#e8dac0;
	background-image:url('../../img/rossi_bg.png'),
	url('../../img/textures/lefft_background.jpg');
	background-repeat:no-repeat, repeat;
	background-attachment:fixed;
	background-position:left bottom;
}

a {
	text-decoration:none;
	-webkit-transition:color .3s;
	-moz-transition:color .3s;
	-o-transition:color .3s;
	transition:color .3s;
}
a:link {
	color: #403020;
}
a:hover {
	text-decoration:underline;
	color: #736353;
}
a:active {
	color: #A69686;
}
a:visited {
	color: #403020;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}

h1#logo,
h1#logo a {
  height:110px;
}
h1#logo a:hover {
	text-decoration:none;
}

h2 {
	font-size:2em;
}

img {
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
}
img:hover {}

address {
	font-style:normal;
	padding:10px;

	background: -moz-linear-gradient(left,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 );
}

hr {
	border:0;
  height:1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#intro-wrapper {
	background-color:#111;
	background-image:url('../../img/textures/noise-333.png');

	color:#eee;
	text-align:center;
	text-shadow:0 0 1px #000;
	position:relative;
	/*top:0; left:0;*/
  width:100%;
	height:1200px;
	z-index:10001;
}
	#intro {
		font-family: 'BeforetheRainRegular';
		width:1000px;
		text-align:left;
		margin:0 auto;
    padding-top:300px;
	}
		#intro h1,
		#intro h2 {
			margin:0; padding:0;
			color:#fff;
		}

		#intro h1 {

			text-shadow:0 0 3px #000;
			font-size:6em;
			/*margin-top:300px;*/
		}

		#intro h2 {
			font-size:4em;
			text-align:center;
			margin-right:150px;
			text-shadow:0 0 10px white;
      margin-top:100px;
		}

		#intro span,
		#intro h2 {
			display:none;
		}

		#skip-intro {
			color:#ddd;
			position:absolute;
      bottom:600px;
      right:50px;
      z-index:100;
      text-align:center;
		}
		#skip-intro:hover {
			color:#fff;
		}

			#intro h1 span {
				position:relative;
			}



#header {
	height:120px;
	height:120px;
	line-height:120px;
	z-index:100;
	border-top:5px solid black;
	border-bottom:1px solid black;
	background:url('../../img/textures/lefft_background.jpg');

	-webkit-transition:box-shadow .6s;
	-moz-transition:box-shadow .6s;
	-o-transition:box-shadow .6s;
	transition:box-shadow .6s;
}
.sticky { /* class for #header */
  position:fixed;
  top:0;
  left:0;
  width:100%;
	box-shadow:0 0 6px rgba(0,0,0,.3);
}

	#logo {
		margin:0;
		float:left;
		font-family: 'BeforetheRainRegular';
	}
		#logo a {
			color:#333;
		}


	#wrapper {
		width:900px;
		margin:0 auto;
    padding:0 30px;
	}
		#wrapper h2 {
			text-shadow:0px 0px 4px #faf7f2;
		}
		#wrapper p {
			text-shadow:0px 0px 2px #e8dac0;
		}

	/*** columns ***/
	#main,
	#aside {
		float:left;
		text-align:left;
	}

	#main {
		width:600px;
		margin-right:20px;
	}
	#aside {
		width:280px;
	}

	#footer {
		border-top:1px solid #000;
		margin:50px;
	}
		#footer-content {
			text-align:left;
			font-size:.8em;
		}


	#events {
		text-align:center;
		line-height:.9;
	}

	#scores {}
		#scores h2 {
			text-align:left;
			font-size:1.9em;
		}

		#scores ul {
			margin:0; padding:0;
			list-style:none;
			text-align:left;
			font-size:.9em;
		}
			#scores ul li {
				margin-bottom:20px;
			}
				#scores ul li a {
					color:black;
				}
					#scores ul li a:hover {
						text-decoration:underline;
					}

.left {float:left}
img.left {margin:0 20px 20px 0}
.right {float:right}
img.right {margin:0 0 20px 20px}
.noborder {border:0; padding:0;}

		#outer-footer {
			text-align:center;
		}
			#outer-footer a {
				font-size:.7em;
			}

section {
	text-align:justify;
}

.marginTop {
  margin-top:120px;
}


#flags {
	position:fixed;
	bottom:10px;
	right:10px;
}
	#flags img {
		border:0;
		padding:0;
	}

.photo {
	display:inline-block;
	margin:48px;
	border:1px solid black;
}

.upgrade-browser {
	font-weight:bold;
}
.up-volume {
  position:relative;
}


#recaptcha_widget_div {
	opacity:.5;
}
#recaptcha_widget_div:hover {
	opacity:1;
}
#recaptcha_area {
	margin:0 auto;
}


/* go to top (stolen from http://imakewebthings.com/jquery-waypoints/sticky-elements/) */
.top {
	position:fixed;
	right:90px;
	bottom:15px;
	width:50px;
	height:25px;
	padding-top:25px;
	line-height:25px;
	background:#333;
	color:#888;
	display:block;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	behavior:url(../PIE.htc);

	opacity:1;
	-webkit-transition:opacity .8s;
	-moz-transition:opacity .8s;
	-o-transition:opacity .8s;
	transition:opacity .8s;
}
  .top:before {
    position:absolute;
    top:11px;
    left:14px;
    content:"";
    border-bottom:11px solid #888;
    border-left:11px solid transparent;
    border-right:11px solid transparent;
  }

  .top:hover {
    color:#eee;
  }

  .top:hover:before {
    border-bottom-color:#eee;
  }

  .top.topHidden {
    opacity:0;
  }

/* special */
::-moz-selection {background:#555555;}
::selection {background:#555555;}